# SERVER
NODE_ENV=development
PORT=5000
CLIENT_ORIGIN="http://127.0.0.1:5500"
DATABASE_URL="postgresql://jess:pass@localhost:5432/snapkitty_crm"
JWT_SECRET="replace-me"
REDIS_URL="redis://127.0.0.1:6379"

# QUICKBOOKS OAUTH
QB_CLIENT_ID="your_id"
QB_CLIENT_SECRET="your_secret"
QB_REDIRECT_URI="http://localhost:5000/api/finance/callback"
QB_ENVIRONMENT="sandbox"
QB_REALM_ID=""
QB_ACCESS_TOKEN=""
QB_REFRESH_TOKEN=""
QB_MINOR_VERSION=""
QB_DEBUG="false"

# OPEN COLLECTIVE
OC_API_KEY="your_personal_token"
OC_COLLECTIVE_SLUG="your_collective_slug"
